body{
    margin: 0;

}
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


#top_header{
    display: flex;
    justify-content: end;
    padding: 15px;
    background: #C4C4C4;
}
.top_items{
    padding: 12px 16px; 
    position: relative;
    color: #000;
}
.top_items::before{
    content: '';
    position: absolute;
    height: 21px;
    width: 2px;
    background-color: #000;
    right: 0;
    top: 11px;
}
#low_header{
    background-image: url(../img/a4b23aab-0f31-46a8-9aac-b833ab94c5b5.jpeg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 27px 130px;
    padding-bottom: 0;
}
.left_nav{
    display: flex;
    justify-content: start;
}
.left_nav img{
    width: 100px;
    height: 50px;
}
.items{
    padding: 12px 16px;
    color: #fff;
}
.items:hover{
    text-decoration: underline;
}
.mt{
    margin-top: 16px;
}
.right_nav{
    display: flex;
    justify-content: end;
}
I.fa{
    padding-left: 25px;
    color: #fff;
}
#low_header h1{
    margin-top: 70px; 
    text-align: center;
    color: #FFF; 
    text-transform: capitalize;
}
#low_header .flex_container_01{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#low_header .flex_01{
     border: 2px Solid #fff;
     border-radius: 5%;
     color: #fff;
     padding: 10px 16px ;
     margin: 0 10px ;
    text-transform: capitalize;    
}
#low_header a .flex_01{ 
    color: #fff;
    margin: 0;
    padding: 0px 100px;
}
#low_header a:hover{
    background: #fff;
    color: #000;
}
#intto{
    background-color: #191919;
    padding: 0  130px;
    position: relative;
    height: 500px;
}
#intto h1{
    color: #ffff;
    padding-top:20px;
    font-size: 35px;
}
p{
    color: #fff;    
}
#intto .flex_container_01{
    display: flex;
    justify-content: start;
    margin-top: 15px;
}
#intto .flex_01{
    border: 2px Solid #fff;
    border-radius: 5%;
    color: #fff;
    padding: 10px 40px ; 
    margin: 0 10px ;
    text-transform: capitalize;
}
#intto .flex_01:hover{
    color: #000;
    background-color: #fff;
}
#intto img{ 
    width: 43%;
    height: 80%;
    position: absolute;
    top: 200px;
    left: 170px;
    z-index: 2;
}
#intto video{
    height: 663px;
    width: 50%;
    position: absolute;
    right: 7%;
    top: -8%;
    z-index: 1;

}
#slider_01{
    padding: 200px 100px 0 100px;
}
.items_sirder{
    margin: 10px;
}
.items_sirder img{
     width: 100%;
}
#slider_01 p{
    color: #000;
}

.slider_02{

}
.slider_items{

}
.slider_items{ 
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_img_01{
    background-image: url("../img/02\ \(1\).jpg");
}
.bg_img_02{
    background-image: url("../img/02\ \(2\).jpg");
}
.bg_img_03{
    background-image: url("../img/02\ \(2\).png");
}
.bg_img_04{
    background-image: url("../img/02\ \(4\).jpg");
}
.bg_img_05{
    background-image: url("../img/02\ \(8\).jpg");
}
.bg_img_06{
    background-image: url("../img/02\ \(9\).jpg");
}

.bg_img_02 .items_ab p,
.bg_img_02 .items_ab h1,
.bg_img_02 .items_ab a,
.bg_img_04 .items_ab p,
.bg_img_04 .items_ab h1,
.bg_img_04 .items_ab a{
    color: #000;
}
.bg_img_03 .items_ab{
    position: absolute;
    right: 70px;
    top: 300px !important;
}
.bx-wrapper .bx-pager{
    display: none;  
}
.bx-wrapper {
    margin-bottom: 0;
}
.items_re{
    position: relative;
}
.items_ab{
    position: absolute;
    right: 70px;
    top: 350px;

}
.items_ab h1{
    margin-bottom: 20px;
    font-size: 40px;
    text-align: right;
    color: #fff; 
    text-transform: capitalize;
}
.items_ab p {
    font-size: 20px;
    text-align: right;
    color: #fff;    
}
.items_ab .link{
    text-align: right;
    margin-top: 30px;
}
.items_ab a{
    font-size: 25px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5%;
    padding: 4px 31px;
    text-align: right;
    color: #000;
    background-color: #ffff;
}
section#beg_area{
    padding: 0 100px;
    padding-top: 50px;
}
section#beg_area h1{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
}
section#beg_area h1::before{
    content: "";
    position: absolute;
    width: 32%;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 19px;
}
section#beg_area h1::after{
    content: "";
    position: absolute;
    width: 32.5%;
    height: 2px;
    background-color: #000;
    top: 15px;
    right: 0;

}
.border_01{
    position: relative;
}
.border_01::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #000;
    top: 70px;
    z-index: 1;
}
 
.border_01::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #000;
    top: 65px;
    right: 99px;
    z-index: 1;
}

h4{
    position: relative;
}
h4::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.border_02{
    position: relative;
}
.border_02::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #000;
    z-index: 1;
    bottom: -2px;
}
 
.border_02::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #000;
    z-index: 1;
    bottom: 0px;
    right: 0;
}
 

/* .border_02{
   position: absolute;
}
.border_02::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #000;
    top: -19px;
    right: 0;
    z-index: 1;
} */
section#beg_area img{}
section#beg_area h3{
    text-transform: uppercase;
    font-size: 25px;
    
}
section#beg_area h5{
    text-align: center;
    margin-top: 15px; 
}
i.fa.fa-dollar{
    color: #000;
}
#ad{
    margin:  10px 100px;
}
#ad .gird{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px 100px;
    gap: 20px;
}
#ad .gird .gird_items{

}
#ad .gird .gird_items img{
    width: 100%;
}
#ad h2{
    text-align: center;
}
#ad p{
    color: #000;
    padding: 5px 10px;
}
#ad .link {
    text-align: center;
    padding-top: 10px;
}
#ad .link a{
    color: #000;
    text-align: center; 
}
#ad .ad_po_r{
    position: relative;
}
#ad .ad_po_a{
    position: absolute;
    background-color: #fff;
    margin: 0 40px;
    bottom: -15px;
}
#tanding{
    padding: 20px 100px 0px 100px;
}
#tanding h1{
    font-size: 35px;
}
#tanding .left_span{
    margin-left: 30px;
    font-size: 25px;
    color: #D3D7DA ;
}
#tanding .right_span{
    margin-left: 30px;
    font-size: 25px;
    color: #D3D7DA ;
}
i.fa.fa-angle-right,
i.fa.fa-angle-left {
    color: #000;
}
#tanding .flex_container{
    display: flex;
    justify-content: space-between;
    padding: 0;   
} 
#tanding .flex{}
#tanding .left_contian{
    font-size: 30px;
    text-transform: capitalize;
}